<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <% if @user.profile_images.attached? %>
        <% @user.profile_images.each do |image| %>
          <div class="profile-image-container">
            <%= image_tag url_for(image.variant(resize_to_fill: [250, 250])), class: "profile-image" %>
          </div>
        <% end %>
      <% end %>
      <h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
      <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
      </div>
      <h3 class="text-center mt-4">Articles</h3>
      <%= will_paginate @articles %>
      <%= render 'articles/article' %>
    </div>
  </div>
</div>
